workflows/get-and-summerize-news.json
[{"updatedAt":"2026-03-02T16:52:48.509Z","createdAt":"2026-03-02T16:26:58.840Z","id":"WyY5WKPc4ob5MtrX","name":"最新ITニュース取得","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"url":"={{$json[\"rssUrl\"]}}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[880,832],"id":"9061af37-8e5f-45b2-b470-0a95b457c5c7","name":"RSS Read","onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1456,848],"id":"06022663-0be2-4787-9aa2-97faaba21409","name":"Merge"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"kpWing","mode":"name"},"repository":{"__rl":true,"value":"Obisidian-Backup","mode":"list","cachedResultName":"Obisidian-Backup","cachedResultUrl":"https://github.com/kpWing/Obisidian-Backup"},"filePath":"=Obsidian Vault/Daily-News/{{$json.repositoryDir}}/{{$now.format(\"yyyy-MM-dd-HHmmss\")}}.md","fileContent":"={{ $json.markdown }}\nLLMプロバイダ : {{$json[\"ai_provider\"]}}\n\nモデル : {{$json[\"ai_model\"]}}","commitMessage":"ニュースの自動取得と要約(n8n)","additionalParameters":{"branch":{"branch":"main"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2128,992],"id":"d0f25393-1db9-4625-94a3-e954fc4682a6","name":"Create a file","webhookId":"df210ff1-95f2-4411-ab57-bbbe10455573","credentials":{"githubApi":{"id":"1ue3FZrWPfAWhAyq","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[96,720],"id":"93542b1c-604e-4a73-8eb4-f366002710e8","name":"Schedule Trigger"},{"parameters":{"fieldToSplitOut":"targets","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,720],"id":"8afa906a-d746-4fae-ba79-0a8a397974c7","name":"Split Out"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[608,720],"id":"0afea1a0-9f6a-469e-9fad-84dac03f1d40","name":"Loop Over Items","alwaysOutputData":false,"executeOnce":false},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2000,752],"id":"f420bef0-34db-42d7-8e4d-117778c084fb","name":"Merge1"},{"parameters":{"mode":"raw","jsonOutput":"{\n\t\"targets\": [\n\t\t{\n\t\t\t\"repositoryDir\": \"AWS\",\n            \"rssUrl\": \"https://aws.amazon.com/blogs/aws/feed/\"\n\t\t},\n\t\t{\n\t\t\t\"repositoryDir\": \"RubyOnRails\",\n            \"rssUrl\": \"https://rubyonrails.org/feed.xml\"\n\t\t},\n\t\t{\n\t\t\t\"repositoryDir\": \"Go\",\n            \"rssUrl\": \"https://go.dev/blog/feed.atom\"\n\t\t}\n\t]\n}","options":{"dotNotation":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,720],"id":"98f3f187-f4b1-4b04-9f2e-9a25d6174861","name":"Define Search Targets"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1040,832],"id":"1c639b09-dc9d-436b-a342-13bf0182fd0d","name":"Limit 5"},{"parameters":{"modelId":{"__rl":true,"value":"meta-llama/llama-4-scout-17b-16e-instruct","mode":"list","cachedResultName":"META-LLAMA/LLAMA-4-SCOUT-17B-16E-INSTRUCT"},"responses":{"values":[{"role":"system","content":"あなたはエンジニア向けにIT系の最新ニュースを要約するアシスタントです。\n・対象エンジニア\n　Web系自社開発企業のエンジニア。フロント、バックエンド、インフラ系全般の開発に従事している\n・指示\n　「対象エンジニア」にとって重要な観点を優先的かつ簡潔にまとめてください"},{"content":"=次の記事を日本語で3行に要約してください。\n\nタイトル:\n{{$json[\"title\"]}}\n本文:\n{{$json[\"contentSnippet\"]}}"}]},"builtInTools":{},"options":{"store":false}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1184,976],"id":"0aad0286-b403-4938-b624-936a8123e748","name":"Summarize News","alwaysOutputData":false,"credentials":{"openAiApi":{"id":"YEzbguqTdCWZUPcC","name":"Groq API"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nlet md = `# AWSニュース要約 (${new Date().toLocaleString()})\\n\\n`;\n\nfor (const item of items) {\n  const title = item.json.title;\n  const link = item.json.link;\n\n  // Groq(OpenAI互換)の返り値\n  let summary = \"\";\n  try {\n    summary = item.json.output[0].content[0].text;\n  } catch {\n    summary = \"（要約の取得に失敗）\";\n  }\n\n  md += `## ${title}\\n`;\n  md += `${summary}\\n\\n`;\n  md += `元記事: ${link}\\n\\n---\\n\\n`;\n}\n\nreturn [\n  {\n    json: {\n      markdown: md\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,848],"id":"2638394a-4ac1-4b0c-b823-b87c3440c41f","name":"Create Markdown"},{"parameters":{"assignments":{"assignments":[{"id":"b0cdd2ed-032b-4da7-ae39-17a6c9484dde","name":"ai_provider","value":"Groq","type":"string"},{"id":"f887cad0-2db0-4061-9332-85dfc2408973","name":"ai_model","value":"meta-llama/llama-4-scout-17b-16e-instruct","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1776,864],"id":"46df8bc4-a181-415e-8a80-3a6fe0efe9ba","name":"Define AI Model Metadata Manually"},{"parameters":{"content":"# issue\n## テック系以外のニュースもだいぶん含まれてくる\n* Googleじゃなく、テック系メディアのRSSをReadする\n  * AWS\n    * https://aws.amazon.com/blogs/aws/feed/\n    * https://aws.amazon.com/blogs/opensource/feed/\n    * https://feed.infoq.com/cloud-computing\n  * Go\n    * https://go.dev/blog/feed.atom\n    * https://www.reddit.com/r/golang/.rss\n    * https://hnrss.org/newest?q=golang\n    * https://golangweekly.com/rss\n  * RoR\n    * https://rubyonrails.org/feed.xml\n    * https://rubyweekly.com/rss\n    * https://planetruby.github.io/feeds/atom.xml\n    * https://www.reddit.com/r/rails/.rss\n* 検索キーワードを工夫する\n* RSSの取得結果に対して、AIで「開発者向けのニュースかどうか」ふりわけてもらう\n\n## フロー完了通知実装\n* LINE Messaging API がいいかも","height":608,"width":656},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"02bb3a94-bd9b-4d19-9a14-c5c36d6b0690","name":"Sticky Note"}],"connections":{"RSS Read":{"main":[[{"node":"Limit 5","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Create Markdown","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Define Search Targets","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"RSS Read","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Define Search Targets":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Limit 5":{"main":[[{"node":"Summarize News","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Summarize News":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Create Markdown":{"main":[[{"node":"Define AI Model Metadata Manually","type":"main","index":0}]]},"Define AI Model Metadata Manually":{"main":[[{"node":"Merge1","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5111c74f-798f-42e5-a2ae-4e9940df3cd9","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-02T16:51:29.164Z","createdAt":"2026-03-02T16:51:29.164Z","role":"workflow:owner","workflowId":"WyY5WKPc4ob5MtrX","projectId":"J2Lmtr2rBnGbUIw6","project":{"updatedAt":"2026-03-02T16:51:04.572Z","createdAt":"2026-03-02T16:50:46.644Z","id":"J2Lmtr2rBnGbUIw6","name":"A B <tsubasa.hara@giftee.co>","type":"personal","icon":null,"description":null,"creatorId":"9b06ced9-74dd-402d-bc91-03bc43454fb6"}}],"versionMetadata":{"name":null,"description":null}}]